/**
 * Site header
 */

.hero {
	.wrapper {
		width: 600px + $spacing-unit;
		height: 400px;
	    margin: auto;
	    @include media-query($device-small) {
	    	margin: 0;
	    }
	}
	.content {
		padding: $spacing-unit / 2;
	}
	h1 {
		font-size: $xxlarge-font-size;
		font-family: $header-font-family;
		@include media-query($device-small) {
	    	font-size: $xlarge-font-size * 1.5;
	    }
	}
	h3 {
		font-size: $large-font-size;
		font-family: $sub-header-font-family;
		@include media-query($device-small) {
			font-size: $base-font-size;
			margin-top: $spacing-unit / 2;
	    }
	}
	.logo {
		height: 150px;
		width: 150px;
		margin: $spacing-unit auto;
	}
}
